<div class="container" style="margin-top: 50px;">
    <h2 style="text-align: center;">Employee Details</h2>
    <form (ngSubmit)="validate(documentEditForm.valid)" #documentEditForm="ngForm">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" [(ngModel)]="employeeModel.firstName"  placeholder="firstName" [ngModelOptions]="{standalone: true}" required="true">
                <span class="text-danger-error" *ngIf="!employeeModel.firstName && !isFilledAllRequiredField">
                    First Name is required.
                </span>
            </div>
            <div class="form-group col-md-3">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" [(ngModel)]="employeeModel.lastName" placeholder="lastName" [ngModelOptions]="{standalone: true}">
                <span class="text-danger-error" *ngIf="!employeeModel.lastName && !isFilledAllRequiredField">
                    Last Name is required.
                </span>
            </div>
            <div class="form-group col-md-3">
                <label for="position">Position</label>
                <input type="text" class="form-control" id="position" [(ngModel)]="employeeModel.position" placeholder="position" [ngModelOptions]="{standalone: true}">
                <span class="text-danger-error" *ngIf="!employeeModel.position && !isFilledAllRequiredField">
                    Position is required.
                </span>
            </div>
            <div class="form-group col-md-3">
                <label for="position">Salary</label>
                <input type="text" class="form-control" id="position" [(ngModel)]="employeeModel.salary" placeholder="position" [ngModelOptions]="{standalone: true}">
                <span class="text-danger-error" *ngIf="!employeeModel.salary && !isFilledAllRequiredField">
                    Salary is required.
                </span>
            </div>
        </div>
        <h5>Main Address</h5>
        <div class="form-group">
            <label for="inputAddress">Address 1</label>
            <input type="text" class="form-control" id="inputAddress" [(ngModel)]="employeeModel.mainAddress1" placeholder="1234 Main St" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <label for="inputAddress">Address 2</label>
            <input type="text" class="form-control" id="inputAddress" [(ngModel)]="employeeModel.mainAddress2" placeholder="1234 Main St" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" id="inputCity" [(ngModel)]="employeeModel.mainCity" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-md-4">
                <label for="inputState">State</label>
                <input type="text" class="form-control" id="inputState" [(ngModel)]="employeeModel.mainState"  [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-md-2">
                <label for="inputCountry">Country</label>
                <input type="text" class="form-control" id="inputCountry" [(ngModel)]="employeeModel.mainCountry"  [ngModelOptions]="{standalone: true}">
            </div>
        </div>
        <h5>Office Address</h5>
        <div class="form-group">
            <label for="inputAddress">Address 1</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" [(ngModel)]="employeeModel.officeAddress1" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <label for="inputAddress">Address 2</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" [(ngModel)]="employeeModel.officeAddress2" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" id="inputCity" [(ngModel)]="employeeModel.officeCity" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-md-4">
                <label for="inputState">State</label>
                <input type="text" class="form-control" id="inputState" [(ngModel)]="employeeModel.officeState" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-md-2">
                <label for="inputCountry">Country</label>
                <input type="text" class="form-control" id="inputCountry" [(ngModel)]="employeeModel.officeCountry"  [ngModelOptions]="{standalone: true}">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2" *ngIf="employeeModel.id">
                <button type="submit" style="width: 100%;" class="btn btn-primary"  (click)="documentEditForm.ngSubmit.emit();">Edit</button>
            </div>
            <div class="form-group col-md-2" *ngIf="!employeeModel.id">
                <button type="submit" style="width: 100%;" class="btn btn-primary"  (click)="documentEditForm.ngSubmit.emit();">Save</button>
            </div>
            <div class="form-group col-md-2" >
                <button type="submit" class="btn btn-danger" style="width: 100%;" (click)="delete(employeeModel)">Delete</button>
            </div>
            <div class="form-group col-md-2" >
                <button type="submit" class="btn " style="width: 100%;border: 1px solid grey;" (click)="back()">Back</button>
            </div>
        </div>

    </form>
</div>