/* .header {
    background-color:  #9933cc;
    color: #ffffff;
    padding: 15px;
}


@media only screen and (max-width: 1024px) {
    p{
        background-color: lightblue;
    }
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12) , 0 1px 2px rgba(0,0,0,0.24);
}

.menu li:hover {
    background-color: #0099cc;
} */

div ~ p {
    background-color: brown;
}