<div class="container" style="margin-top: 50px;">
    <h2 style="text-align: center;">Employees</h2>
    <div class="row">
        <div class="col-sm-6">
            <div class="main">
                <div class="input-group">
                    <input type="text" class="form-control" [(ngModel)]="term" placeholder="Search this Employee">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="main" style="float: right;">
                <i class="fa fa-plus" aria-hidden="true" style="float: right;color: #abdde5;font-size: 30px"
                    (click)="addNewEmployee()">Add Employee</i>
            </div>

        </div>

    </div>

    <div class="table-responsive-sm">
        <table class="table table-hover table-striped" style="border: 1px solid gainsboro;">
            <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Position</th>
                    <th>Address </th>
                    <th>Salary</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody *ngFor="let empolyee of EmpolyeeList | filter:term">
                <tr class="table-info">
                    <td>{{empolyee.firstName}}</td>
                    <td>{{empolyee.lastName}}</td>
                    <td>{{empolyee.position}}</td>
                    <td style="max-width: 100px;">
                        <address>{{empolyee.mainAddress1 + empolyee.mainAddress2}},

                            <b>,</b> {{empolyee.mainCity}}
                            <b>,</b> {{empolyee.mainCountry}}
                            <b>,</b> {{empolyee.mainState}}</address>
                    </td>
                    <td>{{empolyee.salary}}</td>
                    <td>
                        <i class="fa fa-edit" aria-hidden="true" (click)="onEmployeeDeatilsEdit(empolyee)"
                       ></i>
                    </td>
                </tr>
                <!-- <tr class="table-info">
                    <td>Karan</td>
                    <td>Chauhan</td>
                    <td>Software Developer</td>
                    <td style="max-width: 100px;">
                        <address>/40, H - BLOCK, NOIDA, GAUTHAM BUDHA NAGAR DIST, UTTAR PRADESH,

                            <b>City:</b> NOIDA
                            <b>District:</b> GAUTAM BUDDHA NAGAR
                            <b>State:</b> UTTAR PRADESH</address>
                    </td>
                    <td>Rs 20,000</td>
                    <td>Edit</td>
                </tr> -->
                <!-- <tr class="table-info">
                    <td>Karan</td>
                    <td>Chauhan</td>
                    <td>Software Developer</td>
                    <td style="max-width: 100px;">
                        <address>/40, H - BLOCK, NOIDA, GAUTHAM BUDHA NAGAR DIST, UTTAR PRADESH,

                            <b>City:</b> NOIDA
                            <b>District:</b> GAUTAM BUDDHA NAGAR
                            <b>State:</b> UTTAR PRADESH</address>
                    </td>
                    <td>Rs 20,000</td>
                    <td>Edit</td>
                </tr> -->
                <!-- <tr class="table-info">
                    <td>Karan</td>
                    <td>Chauhan</td>
                    <td>Software Developer</td>
                    <td style="max-width: 100px;">
                        <address>/40, H - BLOCK, NOIDA, GAUTHAM BUDHA NAGAR DIST, UTTAR PRADESH,

                            <b>City:</b> NOIDA
                            <b>District:</b> GAUTAM BUDDHA NAGAR
                            <b>State:</b> UTTAR PRADESH</address>
                    </td>
                    <td>Rs 20,000</td>
                    <td>Edit</td>
                </tr> -->
                <!-- <tr class="table-info">
                    <td>Karan</td>
                    <td>Chauhan</td>
                    <td>Software Developer</td>
                    <td style="max-width: 100px;">
                        <address>/40, H - BLOCK, NOIDA, GAUTHAM BUDHA NAGAR DIST, UTTAR PRADESH,

                            <b>City:</b> NOIDA
                            <b>District:</b> GAUTAM BUDDHA NAGAR
                            <b>State:</b> UTTAR PRADESH</address>
                    </td>
                    <td>Rs 20,000</td>
                    <td>Edit</td>
                </tr>
                <tr class="table-info">
                    <td>Karan</td>
                    <td>Chauhan</td>
                    <td>Software Developer</td>
                    <td style="max-width: 100px;">
                        <address>/40, H - BLOCK, NOIDA, GAUTHAM BUDHA NAGAR DIST, UTTAR PRADESH,

                            <b>City:</b> NOIDA
                            <b>District:</b> GAUTAM BUDDHA NAGAR
                            <b>State:</b> UTTAR PRADESH</address>
                    </td>
                    <td>Rs 20,000</td>
                    <td>Edit</td>
                </tr>
                <tr class="table-info">
                    <td>Karan</td>
                    <td>Chauhan</td>
                    <td>Software Developer</td>
                    <td style="max-width: 100px;">
                        <address>/40, H - BLOCK, NOIDA, GAUTHAM BUDHA NAGAR DIST, UTTAR PRADESH,

                            <b>City:</b> NOIDA
                            <b>District:</b> GAUTAM BUDDHA NAGAR
                            <b>State:</b> UTTAR PRADESH</address>
                    </td>
                    <td>Rs 20,000</td>
                    <td>Edit</td>
                </tr>
                <tr class="table-info">
                    <td>Karan</td>
                    <td>Chauhan</td>
                    <td>Software Developer</td>
                    <td style="max-width: 100px;">
                        <address>/40, H - BLOCK, NOIDA, GAUTHAM BUDHA NAGAR DIST, UTTAR PRADESH,

                            <b>City:</b> NOIDA
                            <b>District:</b> GAUTAM BUDDHA NAGAR
                            <b>State:</b> UTTAR PRADESH</address>
                    </td>
                    <td>Rs 20,000</td>
                    <td>Edit</td>
                </tr>
                <tr class="table-info">
                    <td>Karan</td>
                    <td>Chauhan</td>
                    <td>Software Developer</td>
                    <td style="max-width: 100px;">
                        <address>/40, H - BLOCK, NOIDA, GAUTHAM BUDHA NAGAR DIST, UTTAR PRADESH,

                            <b>City:</b> NOIDA
                            <b>District:</b> GAUTAM BUDDHA NAGAR
                            <b>State:</b> UTTAR PRADESH</address>
                    </td>
                    <td>Rs 20,000</td>
                    <td>Edit</td>
                </tr>
                <tr class="table-info">
                    <td>Karan</td>
                    <td>Chauhan</td>
                    <td>Software Developer</td>
                    <td style="max-width: 100px;">
                        <address>/40, H - BLOCK, NOIDA, GAUTHAM BUDHA NAGAR DIST, UTTAR PRADESH,

                            <b>City:</b> NOIDA
                            <b>District:</b> GAUTAM BUDDHA NAGAR
                            <b>State:</b> UTTAR PRADESH</address>
                    </td>
                    <td>Rs 20,000</td>
                    <td>Edit</td>
                </tr> -->
            </tbody>
        </table>
    </div>
</div>